/* css styles */
body .page-columns {
    grid-template-columns: [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc( 850px - 3em )) [body-content-end];
}
.center-content {
    width:100%;
    display: flex;
    justify-content: center;
    margin:10px 0;
}
.image-column {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 10px; 
    max-width: 100%;
    margin:0;
    float:left;
    width:50%;
  }
  .image-column img{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.347);
  }

  .countdown-item{
    display: block;
    width:15%;
    background-color: black;
    color:white;
    float:left;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
  }

  .countdown-value{
    font-size: 25px;
  }

.timeline {
    position: relative;
    overflow: hidden; 
}

.timeline-item {
    position: relative;
    padding: 20px;
    margin: 20px;
    color: white;
    width: 50%;
    box-sizing: border-box; 
}

.timeline-item:nth-child(even) {
    float: right;
    clear: right;
    background-color: black;
}

.timeline-item:nth-child(odd) {
    float: left;
    clear: left;
    background-color: black;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: green;
    top: 0;
}

.timeline-item:nth-child(even)::before {
    left: 100%;
}

.timeline-item:nth-child(odd)::before {
    right: 100%;
}
